/MatchUp.API/.vs/MatchUp.API/v15/Server/sqlite3/db.lock
/MatchUp.API/.vs/MatchUp.API/v15/Server/sqlite3/storage.ide
/MatchUp.API/.vs/MatchUp.API/v15/Server/sqlite3/storage.ide-shm
/MatchUp.API/.vs/MatchUp.API/v15/Server/sqlite3/storage.ide-wal
/MatchUp.API/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.AssemblyInfo.cs
/MatchUp.API/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.AssemblyInfoInputs.cache
/MatchUp.API/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.csproj.CoreCompileInputs.cache
/MatchUp.API/MatchUp.API/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MatchUp.API/MatchUp.API/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MatchUp.API/MatchUp.API/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/MatchUp.API/DesignTimeBuild/.dtbcache
/MatchUp.API/.vs/MatchUp.API/DesignTimeBuild/.dtbcache
/MatchUp.Repository/bin/Debug/netcoreapp2.2/MatchUp.Repository.deps.json
/MatchUp.Repository/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.dll
/MatchUp.Repository/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.xml
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.AssemblyInfo.cs
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.AssemblyInfoInputs.cache
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.assets.cache
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csproj.CopyComplete
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csproj.CoreCompileInputs.cache
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csproj.FileListAbsolute.txt
/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csprojAssemblyReference.cache
/MatchUp.Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MatchUp.Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MatchUp.Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MatchUp.Repository/obj/MatchUp.Repository.csproj.nuget.cache
/MatchUp.Repository/obj/MatchUp.Repository.csproj.nuget.g.props
/MatchUp.Repository/obj/MatchUp.Repository.csproj.nuget.g.targets
/MatchUp.Repository/obj/project.assets.json
/.vs/MatchUp.API/v15/.suo
/.gitignore
/MatchUp.API/MatchUp.Repository/obj/project.assets.json
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.AssemblyInfo.cs
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.AssemblyInfoInputs.cache
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.assets.cache
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.csproj.CoreCompileInputs.cache
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.csprojAssemblyReference.cache
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.RazorAssemblyInfo.cache
/MatchUp.API/obj/Debug/netcoreapp2.2/MatchUp.API.RazorAssemblyInfo.cs
/MatchUp.API/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MatchUp.API/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MatchUp.API/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MatchUp.API/obj/MatchUp.API.csproj.nuget.cache
/MatchUp.API/obj/MatchUp.API.csproj.nuget.g.props
/MatchUp.API/obj/MatchUp.API.csproj.nuget.g.targets
/MatchUp.API/obj/project.assets.json
/MatchUp.API/.vs/MatchUp.API/v15/.suo
/MatchUp.API/MatchUp.Repository/obj/MatchUp.Repository.csproj.nuget.g.targets
/MatchUp.API/MatchUp.Repository/bin/Debug/netcoreapp2.2/MatchUp.Repository.deps.json
/MatchUp.API/MatchUp.Repository/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.dll
/MatchUp.API/MatchUp.Repository/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.xml
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csproj.CoreCompileInputs.cache
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csproj.FileListAbsolute.txt
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csprojAssemblyReference.cache
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MatchUp.API/MatchUp.Repository/obj/MatchUp.Repository.csproj.nuget.cache
/MatchUp.API/MatchUp.Repository/obj/MatchUp.Repository.csproj.nuget.g.props
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.AssemblyInfo.cs
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.AssemblyInfoInputs.cache
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.assets.cache
/MatchUp.API/MatchUp.Repository/obj/Debug/netcoreapp2.2/MatchUp.Repository.csproj.CopyComplete
/.vs/MatchUp.API/v15/Server/sqlite3/db.lock
/.vs/MatchUp.API/v15/Server/sqlite3/storage.ide
/.vs/MatchUp.API/v15/Server/sqlite3/storage.ide-shm
/.vs/MatchUp.API/v15/Server/sqlite3/storage.ide-wal
